{{$pageUrl := $.Scratch.Get "pageUrl"}}
{{$color := $.Scratch.Get "color"}}
{{with .Site.GetPage $pageUrl }}
<div class="bandeaux wrapper" style='background:  linear-gradient(90deg, rgba(41,41,130,0.7) 0%, rgba(41,41,130,0.2) 100%),
url("{{.Params.Contact.img}}")'>
    <div class="content ">
        <div class="pres ">
            <div class="subtitle">
                <div class="white-line"></div>
                {{.Params.Contact.CatTitle}}
            </div>
            <div class="title">
                <h2>
                    {{.Params.Contact.Title}}
                </h2>
            </div>
            <div class="btn">
            <a
                class="sweep-green-qui " 
                style="background-color:{{$color}};border: 2px solid {{$color}};" 
                href="/contact/"
                onMouseOver="this.style.color={{$color}}"
                onMouseOut="this.style.color='#FFF'"
            >
                {{.Params.Contact.Button}}
            </a>
            </div>
        </div>
        <div class="text">
            <p>
                {{.Params.Contact.Description | safeHTML}}
            </p>
        </div>
    </div>
</div>
{{end}}
