{{ $pageUrl := $.Scratch.Get "pageUrl" }}
{{ with .Params.financement }}
  <section id="financement" class="financement-section">
    <div class="financement-wrapper">
      <h2 class="financement-title">{{ .title }}</h2>
      <div class="financement-cards">
        {{ range .operations }}
          <div class="financement-card">
            <h3 class="financement-card-title">{{ .title }}</h3>
            <div class="financement-card-desc">
              {{ .description | markdownify }}
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}

