$background-grey: #e0e0e0;
$text-cover-color: #ababbb;
$text-footer-color: #ababbb;
$text-reason-color: #ababbb;
$grey-color: #666666;
$green: #34a07a;
$black: #2c2c2c;
$blue-color: #5aa9db;
$orange-color: #f9a22c;
